annotated-types==0.6.0
anyio==4.3.0
asgiref==3.8.1
attrs==23.1.0
awscli==1.32.113
botocore==1.34.113
cachetools==5.3.3
cement==2.8.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.3
cryptography==42.0.5
defusedxml==0.8.0rc2
distro==1.9.0
dj-database-url==2.1.0
Django==5.0.6
django-cors-headers==4.4.0
django-environ==0.11.2
django-oauth-toolkit==2.3.0
django-rest-passwordreset==1.4.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
docutils==0.16
drf-social-oauth2==2.1.3
drf-spectacular==0.27.2
ecdsa==0.18.0
filelock==3.13.3
fsspec==2024.3.1
google-api-core==2.17.1
google-api-python-client==2.122.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.0
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.22.1
idna==3.6
inflection==0.5.1
jmespath==1.0.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jwcrypto==1.5.6
numpy==1.26.4
oauthlib==3.2.2
openai==1.14.3
outcome==1.3.0.post0
packaging==24.0
pathspec==0.10.1
pillow==10.3.0
protobuf==4.25.3
psycopg2==2.9.9
PuLP==2.7.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
PyJWT==2.8.0
pyotp==2.9.0
pyparsing==3.1.2
# pypiwin32==223
PySocks==1.7.1
django-filter==23.5 
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python3-openid==3.2.0
pytz==2024.1
# pywin32==306
PyYAML==6.0.1
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.4.0
rpds-py==0.18.0
rsa==4.7.2
s3transfer==0.10.1
safetensors==0.4.2
selenium==4.15.2
semantic-version==2.8.5
six==1.16.0
sniffio==1.3.1
social-auth-app-django==5.4.0
social-auth-core==4.5.3
sortedcontainers==2.4.0
sqlparse==0.5.0
termcolor==1.1.0
tokenizers==0.15.2
tqdm==4.66.2
transformers==4.39.2
trio==0.23.1
trio-websocket==0.11.1
typing_extensions==4.10.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==1.26.18
wcwidth==0.1.9
whitenoise==6.6.0
wsproto==1.2.0
